.listing .publish-date {
  float: right;
  color: #999999;
  display: block;
  font-size: 12px;
  font-style: normal;
  padding: 0 0 2px;
}

.block-documents.listing.last {
  border-bottom: none;
  padding-bottom: 20px;
}
.block-documents.listing {
  border-bottom: 2px dotted #dcdcdc;
  padding-bottom: 10px;
}

.documents-image {
  width: 30px;
  height: 28px;
  background: url("../images/sprite-a.png") -570px -1px no-repeat;
  float: left;
  margin-right: 5px;
}
