.listing .publish-date {
  float: right;
  color: #999999;
  display: block;
  font-size: 12px;
  font-style: normal;
  padding: 0 0 2px;
}

.full .publish-date {
  float: right;
  color: #999999;
  display: block;
  font-size: 12px;
  font-style: normal;
  padding: 0 0 2px;
}

.block-document.listing.last,
.block-nobel-speech.listing.last {
  border-bottom: none;
  padding-bottom: 30px;
}
.block-document.listing {
  border-bottom: 2px dotted #dcdcdc;
  padding-bottom: 10px;
}
.block-document.listing a {
  color: #1C1C1C;
  display: block;
  min-height: 34px;
  padding: 2px 0 0 41px;
  text-decoration: none;
  font-weight: normal;
  text-align: left;
  text-transform: none;
}

.documents-image {
  width: 30px;
  height: 28px;
  background: url("../images/sprite-a.png") -570px -1px no-repeat;
  float: left;
  margin-right: 5px;
}
.block-document .document-body p {
  line-height: 1.5;
  width: auto;
}

/*------------- nobel speech ------------*/
.block-nobel-speech .part {
  clear: both;
  padding: 0 0 30px;
}
.block-nobel-speech .part.part-a {
  /*height: 120px;*/
}
.block-nobel-speech .part p a, .person-item .part ul a {
  color: #BD01B5;
}
.block-nobel-speech .part .clear{
  margin-bottom: 5px;
}
.block-nobel-speech .part-a .pic {
  float: none;
  padding: 3px 0px 5px 0px;
}
.block-nobel-speech .part-a .pic .pic-inner {
    padding: 3px 0 0;
    position: relative;
}
.block-nobel-speech .part-a .pic .pic-inner img {
  width: 100%;
}
.block-nobel-speech .part-a .pic .caption {
  bottom: 3px;
  color: #C6C6C6;
  display: block;
  font-size: 8px;
  left: 7px;
  position: absolute;
}
.block-nobel-speech .part-a .pic .legende {
  color: #7C7E82;
  display: block;
  float: left;
  font-size: 10px;
  line-height: 12px;
  padding: 5px 0;
}
.block-nobel-speech {
  margin: 0 auto;
  max-width: 880px;
  padding: 16px 25px 16px 25px;
}
.block-nobel-speech h1 {
  color: #333333;
  font-size: 1.5em;
  line-height: 1.1;
  padding: 0 0 0.78125em;
  text-align: center;
  text-transform: uppercase;
}
.block-nobel-speech.listing h1,
.block-travels.listing h1 {
  text-align: left;  
}
.block-nobel-speech h2 {
  color: #333333;
  line-height: 1.5;
  font-size: 1em;
}
.block-nobel-speech h2.sub-title {
  padding: 0 0 1.25em;
  font-size: 0.75em;
  text-transform: uppercase;
}
.block-nobel-speech .news-body {
  line-height: 1.5;
  padding: 0 0 1.5625em;
}
/*---------- end nobel speech -----------*/

.block .block-prize-person {
  clear: left;
}

/*---------- travels --------------*/
.block-travel-description h1 {
  color: #333333;
  font-size: 1.5em;
  line-height: 1.1;
  padding: 0 0 0.78125em;
  text-align: center;
  text-transform: uppercase;
}
.block-travels h1 {
  color: #333333;
  font-size: 1.5em;
  line-height: 1.1;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.block-travel-description.listing a,
.block-travels.listing a {
  font-weight: bold;
  color: #666666;
  /*font-size: 16px;*/
}
.block-travel-description.listing a:hover,
.block-travels.listing a:hover {
  color: #BD01B5;
  text-decoration: underline;
}
.block-travel-description.listing .date,
.block-travels.listing .date {
  font-size: 12px;
  margin-top: 5px;
  padding: 1px 0 3px 0;
}
.block-travel-description.listing,
.block-travels.listing {
  margin-bottom: 20px;
  border-bottom: 1px dashed #c0c0c0;
}
.block-travel-description h2.sub-title {
  padding: 0px 0px 1.25em;
  font-size: 0.75em;
  text-transform: uppercase;
}
.travels-description-list :last-child {
  border-bottom: none;
}
.block-travels.listing,
.block-travel-description.listing,
.block-travel-description {
  margin: 0 auto;
  max-width: 880px;
  padding: 16px 25px 16px 25px;
}

/*----------- inteview ------------*/
.block-interview {
  margin: 0 auto;
  max-width: 880px;
  padding: 16px 25px 16px 25px;
}
.block-interview h1 {
  color: #333333;
  font-size: 1.5em;
  line-height: 1.1;
  padding: 0 0 0.78125em;
  text-align: center;
  text-transform: uppercase;
}
.block-interview p {
  line-height: 1.5;
}
.block-interview .interview-photo {
  margin: 0;
}
.block-interview .interview-photo img {
  width: 100%;
  padding: 3px 0px 5px 0px;
}
.block-interview .interview-photo span.text {
  display: none;
}

/*------------master class section styles---------------*/
.block-master-class {
  margin: 0 auto;
  max-width: 880px;
  padding: 16px 25px 16px 25px;
}

.block-master-class .master-class-texts {
  margin-bottom: 5px;
}
.block-master-class .text-listing {
  list-style: none outside none;
  margin: 0;
  min-height: 1px;
  overflow: hidden;
  padding: 0;
}
.block-master-class .text-listing li {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: url("../images/bgs/mass_p.jpg") no-repeat scroll 0 0 transparent;
  border-color: #EEEEEE;
  border-style: none none solid;
  border-width: 0 0 1px;
  margin: 0;
  padding: 7px 0 7px 35px;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.block-master-class .text-listing li strong {
  display: block;
  font-size: 12px;
  line-height: normal;
  padding: 0 0 4px;
}
.block-master-class .text-listing li strong a {
  font-weight: normal;
  background: url("") repeat scroll 0 0 transparent;
  font-size: 12px;
  list-style-type: none;
  padding: 0px;
  color: #1C1C1C;
}
.block-master-class .text-listing li strong a:hover {
  color: #BE01B6;
  text-decoration: underline;
}
.block-master-class .master,
.block-master-class .interview {
  display: block;
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  min-height: 1px;
  overflow: hidden;
  padding: 0 0 20px;
  width: 165px;
}
.block-master-class .master .item {
  text-align: center;
}
.block-master-class .master .text,
.block-master-class .interview .listing li {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
}
.block-master-class .interview ul li,
.block-master-class .author .interview {
  text-align: center;
}
.view-content .block-master-class .master {
  padding-left: 10px;
}
.view-content .block-master-class .interview ul li {
  text-align: left;
}
.block-master-class .interview .listing li {
  margin-bottom: 15px;
}
.block-master-class .master-class-title a {
  background: url("../images/bgs/pen.gif") no-repeat scroll 0 0 transparent;
  color: #BD01B5;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 0.667em;
  margin-top: 0.667em;
  display: block;
  height: 25px;
  padding: 0 0 0 35px;
}
.block-master-class .author {
  background: url("../images/bgs/bg_gray_vertical.jpg") repeat-x scroll 0 0 #EFEFEF;
  display: block;
  min-height: 1px;
  overflow: hidden;
}
.block-master-class .author a {
  background: url("../images/sprite-a.png") no-repeat scroll 0 -89px transparent;
  color: #BD01B5;
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 11px;
  line-height: 16px;
  padding: 4px 0 0 15px;
  text-transform: none;
  font-weight: normal;
  text-align: left;
}
.block-master-class .author .interview .listing li {
  margin-bottom: 0px;
}
.block-master-class h3 {
  color: #1C1C1C;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 0 0 10px 6px;
}
.view-content .block-master-class h3 {
  padding: 0 0 10px 0px;
  margin-bottom: 5px;
}
.block-master-class .interview .interview-item {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 12px;
}
.block-master-class h1 {
  color: #333333;
  font-size: 1.5em;
  line-height: 1.1;
  padding: 0 0 0.78125em;
  text-align: center;
  text-transform: uppercase;
}
.block-master-class.listing h1 a {
  background: url("../images/bgs/pen.gif") no-repeat scroll 0 0 transparent;
  color: #BD01B5;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3em;
/*  margin-bottom: 0.667em;
  margin-top: 0.667em;*/
  display: block;
  height: 25px;
  padding: 0 0 0 35px;
  text-align: left;
  text-transform: none;
}
.block-master-class.listing {
  padding: 0;
  margin: 0;
}
.block-master-class-listing {
  margin: 0 auto;
  max-width: 880px;
  padding: 16px 25px 16px 25px;
}
.block-master-class.listing h1 {
  padding: 0;
}
.block-master-class.listing .author .interview {
  padding-left: 10px;
}
.block-master-class .interview .interview-item .text {
  margin-top: 4px;
}
/*------------end master class section styles---------------*/

/*--------- portrait orientation -----------*/
@media screen and (min-width: 480px) {
  .block-nobel-speech .part-a .pic .pic-inner img {
    width: auto;
  }
  .block-nobel-speech .part-a .pic {
    float: left;
    padding: 3px 20px 3px 0px;
  }
  .block-nobel-speech .part {
    clear: both;
    padding: 1px 0px 0px;
  }  
  .block-nobel-speech h1 {
    color: #333333;
    font-size: 1.5em;
    line-height: 1.1;
    padding: 0 0 0.1em;
    text-align: center;
    text-transform: uppercase;
  }
  
  .block-interview .interview-photo img {
    float: left;
    width: auto;
    padding: 3px 20px 3px 0px;
  }
}    
/*--------- landscape orientation -----------*/
@media screen and (max-width: 480px) {
  .block-master-class.listing .author .interview {
    margin-top: 0px;
  }
}