/*---------- portrait orientation --------*/
@media screen and (max-width: 480px) {
  .view-debut-view-jury-prize-list.view-display-id-listing_view_mode .view-content .views-row {
    width:49%;
    float:left;
  }
  .view-debut-view-jury-prize-list.view-display-id-listing_view_mode .view-content .views-row:nth-child(2n-1) {
    clear: left;
  }

  .view-debut-view-jury-prize-list.view-display-id-default .view-content .views-row,
  .view-debut-view-jury-alphabet-list.view-display-id-default .view-content .views-row,
  .view-debut-view-persons-nominees-list-teaser.view-display-id-default .view-content .views-row {
    width:49%;
    float:left;
    display: table-cell;
    text-align: center;    
  }
  .view-debut-view-jury-prize-list.view-display-id-default .view-content .views-row:nth-child(2n-1),
  .view-debut-view-jury-alphabet-list.view-display-id-default .view-content .views-row:nth-child(2n-1),
  .view-debut-view-persons-nominees-list-teaser.view-display-id-default .view-content .views-row:nth-child(2n-1) {
    clear: left;
  }
  
  .block-master-class.listing .author .interview {
    margin-top: 0px;
  }
  .block-jury-listing .item,
  .block-persons-alphabet-list .item,
  .block-persons-listing .item {
    width: 95%;
    height: auto;
    padding: 0px;
  }
  .block-jury-listing .item .image img,
  .block-persons-alphabet-list .image img,
  .block-persons-listing .image img {
    width: 100%;
    height: auto;
  }
  .block-jury-listing .item .text a,
  .block-persons-alphabet-list .text a,
  .block-persons-listing .text a {
    bottom: 3px;
  }
}
/*----------- end portraint orientation --------*/

/*--------- landscape orientation -----------*/
@media screen and (min-width: 480px) {
  .block-nobel-speech .part-a .pic .pic-inner img {
    width: auto;
  }
  .block-nobel-speech .part-a .pic {
    float: left;
    padding: 3px 20px 3px 0px;
  }
  .block-nobel-speech .part {
    clear: both;
    padding: 1px 0px 0px;
  }
  .block-nobel-speech h1 {
    color: #333333;
    font-size: 1.5em;
    line-height: 1.1;
    padding: 0 0 0.1em;
    text-align: center;
    text-transform: uppercase;
  }

  .block-interview .interview-photo img {
    float: left;
    width: auto;
  }
  .block-interview .interview-photo {
    background: none repeat scroll 0px 0px #EEE;
    float: left;
    margin: 10px 20px 20px 0px;
    padding: 20px;
  }

  .block-person .person-photo,
  .block-person .person-photo img {
    width: auto;
  }
  .block-person .tags {
    padding: 0px 0px 5px 22px;
    margin: 0px 0px 37px;
  }
  .block-books .book-image {
    width: 200px;
  }
  .block-books.listing .book-image {
    padding-right: 10px;
  }
  .block-books-listing .block-books.listing .book-image {
    float: left;
  }
  
  .view-debut-view-persons-list.view-display-id-default .view-content .views-row,
  .view-debut-view-jury-alphabet-list.view-display-id-default .view-content .views-row,
  .view-debut-view-jury-prize-list.view-display-id-default .view-content .views-row,
  .view-debut-view-persons-nominees-list-teaser.view-display-id-default .view-content .views-row,
  .view-debut-view-jury-prize-list.view-display-id-listing_view_mode .view-content .views-row {
    float:left;
    width:33%;
    display: table-cell;
    text-align: center;    
  }
  .view-debut-view-persons-list.view-display-id-default .view-content .views-row:nth-child(3n-1),
  .view-debut-view-jury-alphabet-list.view-display-id-default .view-content .views-row:nth-child(3n-1),
  .view-debut-view-jury-prize-list.view-display-id-default .view-content .views-row:nth-child(3n-1),
  .view-debut-view-persons-nominees-list-teaser.view-display-id-default .view-content .views-row:nth-child(3n-1),
  .view-debut-view-jury-prize-list.view-display-id-listing_view_mode .view-content .views-row:nth-child(3n-1) {
  }
  .view-debut-view-persons-list.view-display-id-default .view-content .views-row:nth-child(3n + 1),
  .view-debut-view-persons-list.view-display-id-default .view-content .views-row:nth-child(3n + 1),
  .view-debut-view-jury-prize-list.view-display-id-default .view-content .views-row:nth-child(3n + 1),
  .view-debut-view-persons-nominees-list-teaser.view-display-id-default .view-content .views-row:nth-child(3n + 1),
  .view-debut-view-jury-prize-list.view-display-id-listing_view_mode .view-content .views-row:nth-child(3n + 1) {
    clear:left;
  }  
}
