@media screen and (max-width: 1200px) {
  #page-inner{
    width: 800px;
  }

  .panel-3col .panel-col-last {
    display:  none;
  }

  .panel-3col .panel-col {
    width: 540px;
  }

  .footer .inner,
  .footer .inner .level-3,
  .header {
    width: 800px;
  }

  .underheader .social {
    display: none;
  }

  .book .books-item .book-content {
    line-height: 16px;
    width: 240px;
    font-size: 12px;
  }
  
  .books-item .book-content {
    float: left;
    font-family: "PT Sans",sans-serif;
    width: 330px;
  }  
}
